main {
	overflow: hidden;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}



/*BUTTONS*/
.btn {
    background-color: #182a37;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    padding: .25em .5em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .05em;
    font-size: 12px;
    transition: background-color 250ms;
    }

.btn:hover {
	background-color: rgb(234,70,46);
}




/*INTRO*/
.intro__dek {
	width:400px;
	text-align: center;
}

#introGifs {
	max-width: 200px;
	margin-right: auto;
	margin-left: auto;
}


IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
}

.legend {
  display: none;
}



/*TOOLTIPS*/
#tooltip {
    position: absolute;
    text-align: left;
    height: auto;
    padding: 10px;
    background: #182a37;
    pointer-events: none;
    z-index: 100;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 11px;
    color: white;
    line-height: 15px;
}

.bTooltip {
	margin: 0;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    line-height: 15px;
}




/* GRAPHICS */
.graphic {
	width: 100%;
	position: relative;
}

.graphic__prose {
	width: 25%;
	margin-left:70%;
	padding-top: 50px;
}

.graphic__prose p{
	font-size: 15px;
}

.dimChart__vis, .graphic__vis, .powerSplit__vis, .genNames__vis, .teams__vis, .career_chart__vis {
	position:relative;
	z-index: 1;
}

.genNames__vis svg {
	position: relative;
	display: block;
}

.career_chart__vis svg {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.powerSplit__vis svg {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.dimChart__vis svg {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.graphic__vis svg {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.teams__vis svg {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.chartBody {
	position:relative;
}





/* TITLES, CHART TEXT, BODY TEXT */
.midTitle {
	text-align: center;
}

.paddedIntro {
	margin-left: auto;
	margin-right: auto;
	width:60%;
	padding-top: 100px;
	text-align: left;
}

.paddedBody {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	width:60%;
	padding-top: 50px;
}

.chartHed {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	width:60%;
	padding-top: 10px;
}

.chartTitle {
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-weight: 700;
}

.chartText {
	padding-top:0px;
	margin-top:0px;
}

.graphicWrapper {
	margin-right: auto;
	margin-left: auto;
	position:relative;
	width:100%;
	max-width: 1000px;
}







/* EXPERT OPINION */
.expertOpinion {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	width:60%;
}

.expertText {
	padding-top: 0px;
	margin-top: 0px;
}

.expert {
	background-color: rgb(234,70,46);
	color:white;
	border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    padding: .25em .5em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .05em;
    font-size: 12px;
    float:left;
    padding-bottom: 0px;
    margin-bottom: 0px;

}





/* DATA NOTES */
.note {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	width:60%;
	padding-top:0px;
	margin-top:0px;
	padding-top: 0px;
	font-size: 10px;
	font-weight:500;
	padding-left:20px;
	padding-right: 20px;
}




/* POWERS CHART */
#outliers_back {
	display:none;
}

#powers_radius, #norm_radius {
	float:right;
}

#sizeBy {
    border: 1px solid #fff;
    border-radius: 3px;
    color: #182a37;
    padding: .25em .5em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .05em;
    font-size: 12px;
    float:right;
}




/*GENDERED NAMES CHART*/
.between {
  stroke: "black";
  stroke-width: 1px;
}

#yAxis_genName {
	display: none;
	}


.listNames {
	position:absolute;
	width: 25%;
	margin-left:70%;
}

.graphicLeft {
	width:70%;
	position:relative;
}

#genTitle {
	position:absolute;
  	text-transform: uppercase;
  	text-align: left;
	left:65%;
	color:rgb(105,174,68);
	font-weight: 500;
}

.genNames {
	position: absolute;
	width: 30%;
	float: right;
	left: 65%;
	top: 40px;
	font-size: 10px;
	padding-right: 2rem;
}

.label {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .05em;
}

.dodo {
	font-weight:700;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .05em;
}

.tick {
	font-size: 12px;
}

.power_bar_bars {
	font-weight:500;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .05em;
}






/* TEAMS CHART */
#onePercent {
	position:absolute;
	left:68%;
	top:40%;
	width: 200px;
	font-size: 12px;
}

.num {
	border: 1px solid #fff;
    border-radius: 3px;
    color: white;
    padding: .25em .5em;
    margin-right: 1em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .05em;
    float:left;
    background-color: rgb(234,70,46);
}

.numWords {
	border: 1px solid #fff;
    border-radius: 3px;
    color: #182a37;
    padding: .25em .5em;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .05em;
    float:left;
}

.domain {
	display:none;
}

.tick {
	font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .05em;
    z-index: 100;
}








/* PROFESSIONAL TITLES TABLE */
table {
	margin-right: auto;
	margin-left: auto;
	width:100%;
	max-width: 600px;
}

td {
	font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .05em;
     border: 1px solid #fff;
    border-radius: 3px;
}

th {
	background-color: #182a37;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    padding: .25em .5em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .05em;
    font-size: 12px;
}





/*DOT STYLING*/

.genDot:hover {
	cursor: pointer;
}

.dot {
  stroke: #ffffff;
}


#swarm {
	max-width:800px;
	margin-right: auto;
	margin-left: auto;
}



#stick {
	position:fixed;
	top:10%;
	right:2%;
	z-index: 100;
	background-color: white;
	max-width: 200px;
	font-size: 12px;

}

#powerTitleInsert {
	color:rgb(234,70,46);
	font-weight: 700;
}

.sticky_parent {
  background: #ccc;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  font-size: 30px;
  padding-left: 10px;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0px;
}


.sidebar {
    position: -webkit-sticky;  // required for Safari
    position: sticky;
    top: 0; // required as well.
}   









/*ANNOTATION STYLING
*/

.annotation-group {
	font-size: 12px;
}

.remaining-content span {
    display:none;
}






