main {
	overflow: hidden;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #ffffff;
}

.legend {
  display: none;
}

#tooltip {
    position: absolute;
    text-align: left;
    height: auto;
    padding: 10px;
    background: #162F44;
    pointer-events: none;
    z-index: 100;
}
#tooltip.hidden {
    display: none;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 11px;
    color: white;
    line-height: 15px;
}

.between {
  stroke: "black";
  stroke-width: 1px;
}


#yAxis_genName {
	display: none;
	}


.tick {
	font-size: 12px;
}

	/* GRAPHIC CODE */
.graphic {
	width: 100%;
	position: relative;
}

.graphic__prose {
	width: 25%;
	margin-left:70%;
	padding-top: 50px;
}

.graphic__prose p{
	font-size: 15px;
}

.graphic__prose .trigger {
	padding: 0;
	margin: 0;
	min-height: 240px;
}


.dimChart__vis, .graphic__vis, .powerSplit__vis, .genNames__vis, .teams__vis, .career_chart__vis {
	position:relative;
	z-index: 1;
}

.genNames__vis svg {
	position: relative;
	display: block;
}

.career_chart__vis svg {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.powerSplit__vis svg {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.dimChart__vis svg {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.graphic__vis svg {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.teams__vis svg {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#introGifs {
	max-width: 200px;
	margin-right: auto;
	margin-left: auto;
}


IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
}

.midTitle {
	text-align: center;
}

.paddedIntro {
	margin-left: auto;
	margin-right: auto;
	width:60%;
	padding-top: 200px;
	text-align: center;
}

.paddedBody, .chartHed {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	width:60%;
	padding-top: 50px;
}

.chartHed {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	width:60%;
	padding-top: 10px;
}

.listNames {
	position:absolute;
	width: 25%;
	margin-left:70%;
}

.paddedBody p{
	font-size: 15px;
}

.chartBody {
	position:relative;
}


.graphicWrapper {
	margin-right: auto;
	margin-left: auto;
	position:relative;
	width:100%;
	max-width: 1000px;
}


.graphicLeft {
	width:70%;
	position:relative;
}


#genTitle {
	position:absolute;
  	text-transform: uppercase;
  	font-size: 18px;
  	text-align: left;
	left:65%;
}


#genNames {
	position: absolute;
	width: 30%;
	float: right;
	left: 65%;
	top: 40px;
	font-size: 10px;
	padding-right: 2rem;
}


.chartTitle {
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-weight: 700;
}

.chartText {
padding-top:0px;
margin-top:0px;
font-size: 12px;
}


#onePercent {
	position:absolute;
	left:65%;
	top:30%;
	width: 200px;
	font-size: 12px;
}

#outliers {
	position:absolute;
	top:83%;
	left:13%;
	z-index: 100;
}

.label, .dodo {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .05em;
}

.dodo {
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .05em;
}

.btn {
    background-color: #182a37;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    padding: .25em .5em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .05em;
    font-size: 12px;
    transition: background-color 250ms;
    }

.tick {
	color: red;
}

.domain {
	display:none;
}

.tick {
	font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .05em;
}

table {
	margin-right: auto;
	margin-left: auto;
	width:100%;
	max-width: 600px;
}

td {
	font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .05em;
     border: 1px solid #fff;
    border-radius: 3px;
}


th {
	background-color: #182a37;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    padding: .25em .5em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .05em;
    font-size: 12px;
}




